<div id="footer" class="container-sm">
    <h2><a href="https://www.themoviedb.org/">Data Provided by The Movie DB</a></h2>
    <h4 style="padding-left: 20px; padding-top: 3px;">Illustration by Kyle Groover</h4>
</div>
</body>
</html>