body {
    background-image: url('/photos/image0.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    min-width: 100vh;
    margin: 0;
    font-family: "bebas Neue", cursive
}

#Login {
    margin: 150px 100px
}

