body {
    background-image: url('/photos/home.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    min-width: 100vh;
    margin: 0;
    font-family: "bebas Neue", cursive
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;

}


.child {
    padding-top: 90vh;
}

#login {
    font-size: 3rem;
    background-color: #f57c13;
    padding: 10px 20px;
    border-radius: 16px;
}
#footer {
    display: flex;
    margin: 15px;
    justify-content: center;
    
  }

