body {
  font-family: "bebas Neue", cursive;
  background-image: url("/photos/index.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
}

nav {
  font-size: 3rem;
  margin-right: 15vh;
  margin-bottom: 15vh;
}

.card {

}

.nav-item :hover {
  text-decoration: underline;
}

#reveal {
  justify-content: center;
  align-content: center;
}

#revBtn {
  background-color: #08EE59;
  margin-top: 25vh;
  margin-left: 25vh;
  font-size: 5rem;
  padding: 10px;
}

#movieChoice {
  display: flex;
  max-height: 65vh;
  
  
}

#movieNew {
  
  display: flex;
}

#movieRandom {
  max-width: 30vw;
  font-size: 1.3rem;
  margin: 1vh;
  color: black;
  
}

#poster {
  max-height: 30vh;
  align-self: center;
}

#index {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#users {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  max-width: 10vw;
  margin: 1rem;
}
