body {
  font-family: "bebas Neue", cursive;
  background-image: url("/photos/index.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  min-width: 100vh;
  margin: 0;
}

nav {
  font-size: 3rem;
  margin-right: 15vh;
  margin-bottom: 15vh;
}

.nav-item :hover {
  text-decoration: underline;
}

#reveal {
  justify-content: center;
  align-content: center;
}

#revBtn {
  background-color: #08EE59;
  margin-top: 25vh;
  margin-left: 25vh;
  font-size: 5rem;
  padding: 10px;
}

#movieChoice {
  display: flex;
  max-height: 30vh;
  
}

#movieNew {
  background: none;
  display: flex;
}

#movieRandom {
  font-size: 1.3rem;
  margin: 1vh;
  color: black;
  height: 40vh;
  width: 70vh;
  background-color:rgba(227, 227, 255, 0.692);
}

#poster {
  align-self: center;
}

#index {
  display: flex;
}

/* #indexed {
  height: 400px;
  width: 300px;
  background-color:rgba(106, 106, 250, 0.5)
} */