body {

  font-family: "bebas Neue", cursive;
  background-color: #F57C13;
  margin: 0;
}



nav {
  font-size: 3rem;
  margin-bottom: 50px;
  background-color: #08EE59;
}

.card {
  padding: 20px;
  font-size: 1.3rem;
  overflow: scroll;
  text-overflow: ellipsis;
  background-color: #08ee599c;
  min-width: 150px;
  
 
}

.index {
  margin: 0 100px 120px;
  max-width: 30vw;
  
}

#index {
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
  font-size: 1.3rem;
  overflow: visible;
  text-overflow: ellipsis;
  background-color: #08ee599c;
  min-width: 150px;
 
}

.nav-item :hover {
  text-decoration: underline;
}

#reveal {
  justify-content: center;
  align-content: center;
}

#revBtn {
  background-color: #08EE59;
  margin-top: 25vh;
  margin-left: 25vh;
  font-size: 5rem;
  padding: 20px;
}

#add {
  font-size: 2rem;
}

#title {
  text-decoration: underline;
}

#refresh {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 4rem;
}

#refreshBtn {
  background-color: #08EE59;

}

#usermovies {
  display: grid;
}

#movieChoice {
  display: flex;
  max-height: 65vh; 
}


#movieNew {
  
  display: flex;
}

#movieRandom {
  max-width: 30vw;
  
  /* margin: 1vh; */
  color: black;
  margin-left: 20px;
  
}

#poster {
  max-height: 30vh;
  max-width: 15vw;
  align-self: center;
}



#users {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  max-width: 10vw;
  margin: 1rem;
  background-color: #08EE59;
  height: 75px;
  width: 200px;
  padding: 10px;
  border-radius: 16px;
}


#footer {
  display: flex;
  margin-top: 30px;
  
  justify-content: center;
}

#header {
  margin-left: 150px;
}